*{
	padding: 0px;
	margin: 0px;
}

li{
	float: left;
	list-style: none;
}
a{
	text-decoration: none;
	font-size: 12px;
}

.hedbg{
	background: url(../img/bg_1.gif) repeat-x;
	height: 31px;
	width: 100%;
}

.main{
	width: 1230px;
	margin: 0 auto;
}

.hed{
	line-height: 31px;
	height: 31px;
	width: 1230px;
}

.hed_l{
	float: left;
	height: 31px;
	width: 714px;
}

.hed_r{
	float: left;
	height: 31px;
	width: 516px;
}

.hed_l div{
	float: left;
}

.hed a{
	color: #666666;
	font-size: 12px;
}

.hed a:hover{
	color: red;
	text-decoration: underline;
	font-size: 12px;
}

.hed_r li{
	text-align: center;
	height: 31px;
	width: 80px;
	padding: 0px 1px;
}

.hed_r_1{
	float: left;
}

.hed_r_bg:hover{
	padding: 0px;
	background: white;
	border: 1px solid #dddddd;
	border-bottom: 0px;
	border-top: 0px;
}

.hed_r_bg_2{
	text-align: center;
	height: 31px;
	width: 80px;
	padding: 0px 1px;
}

.hed_r_1{
	position: relative;
	left: -1px;
	background: white;
	top:-10px;
	padding-bottom: 10px;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: none;
}

.hed_r_1 li{
	height: 20px;
	width: 78px;
}

.bg{
	background: red;
	height: 200px;
}

.hed_2{
	float: left;
	width: 1230px;
}

.hed_2_1{
	float: left;
	white:273px;
	height: 137px;
}

.hed_2_2{
	float: left;
	white:710px;
	height: 125px;
}

.hed_2_3{
	margin-top: 30px;
	margin-left: 50px;
	float: left;
	white:250px;
	height: 50px;
}


.hed_2_3_l{
	cursor: pointer;
	margin-right: 20px;
	text-indent: 28px;
	line-height: 40px;
	font-size: 14px;
	float: left;
	width: 108px;
	height: 38px;
	border: 1px solid #DDDDDD;
	background: #fafafa;
	background: url(../img/bg_8.gif);
}

.hed_2_3_l:hover{
	background: url(../img/bg_10.gif) no-repeat;
}

.hed_2_3_r:hover{
	background: url(../img/bg_11.gif) no-repeat;
}

.hed_2_3_r{
	cursor: pointer;
	text-indent: 33px;
	line-height: 40px;
	font-size: 14px;
	float: left;
	width: 130px;
	height: 38px;
	border: 1px solid #DDDDDD;
	background: #fafafa;
	background: url(../img/bg_9.gif);
}

.hed_2_3_l:hover .hed_img_2{
	transform: rotate(180deg);
}
.hed_2_3_r:hover .hed_img_2{
	transform: rotate(180deg);
}

.hed_img_2{
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.wdsc{
	display: none;
	width: 308px;
	height: 171px;
	position: relative;
	background: white;
	border: 1px solid #DDDDDD;
	top: -2px;
	left: -200px;
}

.wdgwc{
	display: none;
	width: 308px;
	height: 122px;
	position: relative;
	background: white;
	border: 1px solid #DDDDDD;
	top: -2px;
	left: -180px;
}

.wdsc_2_1{
	text-align: center;
}

.wdsc_1{
	float: left;
	text-indent: 220px;
	height: 30px;
	line-height: 30px;
	width: 308px;
	border-bottom: 1px solid #DDDDDD;
}

.wdsc_2{
	float: left;
	width: 308px;
}

.wdsc_2 li{
	height: 30px;
}

.wdsc_2 a{
	color: royalblue;
}

.wdsc_2 a:hover{
	color: royalblue;
}

.wdsc_5{
	border: 1px solid #DDDDDD;
	float: left;
	width: 308px;
}

.wdsc_l{
	float: left;
	width: 150px;
	border-right:1px solid #DDDDDD ;
}

.wdsc_r{
	float: left;
	width: 150px;
}

.wdsc_3{
	float: left;
	width: 308px;
	height: 50px;
	background: #f0f0f0;
}

.wdsc_3_2{
	float: left;
	width: 308px;
	text-align: center;
}

.wdsc_3_img{
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

.wdsc_3_l{
	font-size: 12px;
	float: left;
	width: 150px;
}

.wdsc_3_r{
	float: right;
	width: 150px;
}

.bod{
	margin-top: 30px;
	float: left;
	border: 2px solid #EE0B39;
}
.bod input{
	float: left;
	border: 0px;
	width: 500px;
	vertical-align: middle;
	height: 35px;
}

.select{
	float: left;
	background: #EE0B39;
	height: 35px;
}

.select a{
	color: white;
	padding: 10px 30px;
}

.select a:hover{
	color: white;
	text-decoration: none;
}



.bot_bg{
	float: left;
	background: url(../img/bg_5.gif) no-repeat;
	width: 1200px;
	height: 80px;
}

.bot_1{
	float: left;
	width: 220px;
	padding-left: 20px;
}

.bot_1 li{
	float: left;
	list-style: none;
	width: 220px;
	text-align: center;
}

.bot_1 a{
	color: black;
	text-decoration: none;
	font-size: 10px;
}

.bot_1 a:hover{
	text-decoration: underline;
}

.bot_2{
	margin-top: 20px;
	float: left;
	width: 100%;
	background: black;
	height: 180px;
}

.4ul{
	float: left;
	width: 1200px;
}

.bot_5{
	margin-top: 10px;
	text-align: center;
	width: 1200px;
	color: white;
}

.bot_5 a{
	color: white;
	font-size: 10px;
	text-decoration: none;
}

.bot_5 img{
	vertical-align: middle;
}

.body{
	float: left;
	width: 1200px;
}

.shouye{
	float: left;
	width: 1200px;
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-size: 13px;
	background: url(../img/home.gif) no-repeat;
}

.bigdiv{
	float: left;
	width: 1215px;
}

.div_l{
	float: left;
	width: 209px;
}

.div_l_1{
	float: left;
	width: 209px;
}

.div_1_hed{
	color: white;
	text-indent: 20px;
	line-height: 40px;
	height: 40px;
	float: left;
	width: 209px;
	background:#ec4f4a;
}

.div_1_hed div{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.div_1_body{
	padding-bottom: 10px;
	float: left;
	width: 209px;
	background: #fd6760;
}

.div_1_body_l{
	margin-top: 10px;
	margin-left: 10px;
	color: white;
	float: left;
	width: 90px;
}

.div_1_body_r li{
	margin-left: 5px;
	float: left;
	width: 100px;
}
.div_1_body_r li a{
	font-size: 13px;
	color: #fecac8;
}

.div_1_li_1{
	color: white;
	float: left;
	text-indent: 20px;
	margin-top: 10px;
	line-height: 15px;
	height: 20px;
	background: url(../img/shexiangji.gif) no-repeat;
}


.div_1_li_2{
	color: white;
	float: left;
	text-indent: 20px;
	margin-top: 10px;
	line-height: 15px;
	height: 20px;
	background: url(../img/bi.gif) no-repeat;
}


.div_1_li_3{
	color: white;
	float: left;
	text-indent: 20px;
	margin-top: 10px;
	line-height: 15px;
	height: 20px;
	background: url(../img/tuichu.gif) no-repeat;
}



.div_body_img img{
	border-radius: 50%;
	width: 70px;
	border: 2px solid #FFFFED;
}

.div_c{
	margin-left: 10px;
	float: left;
	width: 660px;
}

.div_c_hed{
	padding-top: 20px;
	padding-left: 10px;
	float: left;
	width: 640px;
	height: 150px;
	font-size: 25px;
	color:#666666;
	border: 1px solid #F0F0F0;
}

.c_hed_1{
	line-height: 195px;
	text-indent: 90px;
	float: left;
	width: 200px;
	height: 128px;
	border-right: 1px solid #F0F0F0;
	background: url(../img/yue.gif) no-repeat;
}

.c_hed_2{
	line-height: 195px;
	text-indent: 90px;
	float: left;
	width: 200px;
	height: 128px;
	border-right: 1px solid #F0F0F0;
	background: url(../img/daijingquan.gif) no-repeat;
}

.c_hed_3{
	line-height: 195px;
	text-indent: 90px;
	float: left;
	width: 200px;
	height: 128px;
	background: url(../img/keyongjifen.gif) no-repeat;
}

.div_c_body{
	float: left;
	width: 650px;
	border: 1px solid #e7e7e7;
	background: #fefbf8;
}

.div_c_body_2{
	float: left;
	width: 650px;
	border: 1px solid #e7e7e7;
	background: white;
}


.c_body_1{
	float: left;
	line-height: 45px;
	text-indent: 23px;
	font-size: 14px;
	width: 660px;
	background: url(../img/shugang2.gif) no-repeat;
	height: 40px;
}

.c_body_2{
	float: left;
	line-height: 50px;
	text-indent: 23px;
	font-size: 14px;
	width: 660px;
	background: url(../img/shugang.gif) no-repeat;
	height: 40px;
}

.sanli{
	float: right;
	margin-right: 20px;
}

.c_body_tu{
	float: left;
	width: 650px;
	height: 280px;
	background: url(../img/jiaoyitixing.gif) no-repeat;
}

.c_body_tu_2{
	float: left;
	width: 650px;
	height: 280px;
	background: url(../img/shouchang.gif) no-repeat;
}

.div_r{
	float: left;
	width: 329px;
	font-size: 14px;
}

.div_r_1{
	border: 1px solid #F0F0F0;
	float: left;
	width: 329px;
}

.r_1_hed{
	float: left;
	width: 329px;
	line-height: 45px;
	text-indent: 25px;
	height: 30px;
	background: url(../img/shugang.gif) no-repeat;
}

.r_2_body{
	float: left;
	width: 329px;
	height: 200px;
	background: url(../img/gerengouwuche.gif) no-repeat;
}

.r_2_body_2{
	float: left;
	width: 329px;
	height: 200px;
	background: url(../img/shouchangdianpu.gif) no-repeat;
}


.div_2_body{
	padding-left: 10px;
	float: left;
	width: 197px;
	border: 1px solid #e7e7e7;
	background: white;	
	padding-bottom: 8px;
}


.div_2_hed{
	float: left;
	width: 209px;
	height: 30px;
	text-indent: 10px;
	background: url(../img/dianer.gif) no-repeat;
}

.div_2_hed li{
	float: left;
	line-height: 45px;
	font-size: 14px;
	font-weight: bold;
}


.div_2_body_1 li{
	float: left;
	width: 209px;
	margin: 5px 0;
}


.div_2_body_1 li a{
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #777777;
}

.div_2_body_1 li a:hover{
	text-decoration: underline;
	color: red;
}









